<ion-content class = "ion-padding ion-text-center">
  <div style="margin-top:15%" *ngIf="paso1">
      <ion-button color="light" style="height: auto; width: 70%;" (click)="pedirMesaQR()"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Codigo_QR.svg/500px-Codigo_QR.svg.png" alt=""></ion-button>
      <br>
      <img src="http://www.sistec8.com/modulos/catalogo/images/usuario/images/arrows.gif" alt="" width="25%">
      <img src="../../../assets/usos/plato.png" alt="" width="25%">
      <ion-text color="dark">
          <h5>Pulsa para escanear el QR</h5>
        </ion-text>
      <p style="margin-top:20%;">Escanea el Qr de tu mesa para saber el estado de tu pedido</p>
  </div>
</ion-content>
