<ion-header>
  <ion-toolbar>
   <ion-title>Mesas disponible</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row align-items-centert>
      <ion-col *ngFor="let t of tables" size="3">
        <!--<ion-chip (click)="assignTable(t)" color="success">
          <ion-label>{{t.number}}</ion-label>
          <ion-icon name="restaurant"></ion-icon>
        </ion-chip>-->        
        <ion-avatar class="avatar" (click)="assignTable(t)">
          <ion-label color="success" style="background-color:blue; border-radius: 70%; align-content: center;">{{t.number}}</ion-label>
          <img *ngIf="!image" src="assets/images/mesa2.jpg">          
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid> 
</ion-content>