<ion-content class="bg">
    <ion-grid>
  <ion-row>
    <ion-col size=12 style="text-align: center;">
        <!-- <p class="login-titulo">La Comandada</p> -->
        <img src="../../../assets/logos/logo-login-comandada.png" style="margin-top: 5%;" alt="">
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="11" class="centrar-col">
        <!-- <p class="titulo">Iniciar Secion</p> -->
        <ion-item>
          <ion-label position="floating" class="label">Correo Electronico</ion-label>
          <ion-input type="text" class="input-correo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" class="label">Contraseña</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" class="centrar-col" style="text-align: center;">
        <ion-button shape="round"  expand="block" class="boton"  fill="outline">Ingresar</ion-button>
        <br>
        <a href="#" class="recuperar">¿Olvidaste la contraeña? ¡Recuperala!</a>
        <img src="../../../assets/usos/separador-png-2.png" class="amarillo" alt="">
        <ion-button shape="round"  expand="block" class="boton"  fill="outline">Registrarse</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
<ion-footer >
  <ion-toolbar class="footer">
   Creado por
    <img src="../../../assets/logos/logo-sample-3bytes-tt.png" alt="" width="20%">
  </ion-toolbar>
</ion-footer>
  