<ion-header>
  <ion-toolbar color = "danger" hideBackButton="true">
    <ion-buttons>
        <ion-menu-button menu = "first"></ion-menu-button>
        <ion-title class="titulo-menu">La Comanda</ion-title>
    </ion-buttons>
</ion-toolbar>
</ion-header>
<ion-menu side="start" menuId="first" contentId = "principal">
  <ion-header>
    <ion-toolbar >
        <ion-item color="danger">
            <ion-avatar slot="start">
                <img [src]="clienteLogeado.foto"> 
              </ion-avatar>
              <ion-label>
                <h2>{{clienteLogeado.nombre}} {{clienteLogeado.apellido}}</h2>
                <h3>{{clienteLogeado.perfil}}</h3>
              </ion-label>
        </ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle *ngFor="let item of items">
          <ion-item (click)=navegar(item.ruta)>
              <ion-icon slot="start" [name]="item.icono" color="danger"></ion-icon>
              <ion-label style="color: black;">{{item.nombre}}</ion-label>
          </ion-item>
      </ion-menu-toggle>
  </ion-list>
  </ion-content>
  <ion-footer>
    <ion-item (click)="cerrarSesion()">
        <ion-icon color = "danger" name="log-out"></ion-icon>
       <ion-label color = "danger">Cerrar Sesión</ion-label>
    </ion-item>
  </ion-footer>
</ion-menu>
<ion-router-outlet id = "principal"></ion-router-outlet>