<ion-content >
    <ion-card-header >
      <ion-card-header>
        <ion-card-title class="container" color='dark'>
          <h2 class='text'>Iniciar sesión</h2><br>

           <!-- ACA VA EL LOGO NUESTRO <img class="icon" src="assets/icon/icono_1.png"> -->
        </ion-card-title>
      </ion-card-header>


    </ion-card-header>

    <ion-card-content >
      <ion-card style="width: 100%;position: relative;">
        <ion-item  shape="round">
          <ion-label position="floating">
            <ion-text>
              <h4>
                Mail
              </h4>
            </ion-text>

          </ion-label>
          <ion-input clear-input type='text' [(ngModel)]='email'></ion-input>
        </ion-item>

        <ion-item  shape="round">
          <ion-label position="floating">
            <ion-text>
              <h4>
                Password
              </h4>
            </ion-text>

          </ion-label>
          <ion-input clearInput type='password' [(ngModel)]='password'></ion-input>
        </ion-item>
      </ion-card>


        <ion-label>
          <ion-button expand="full" (click)='OnSubmitLogIn()' shape="round" color='success' fill="outline">
            Entrar
          </ion-button>
        </ion-label>

          <ion-label>
            <ion-button expand="full" (click)='Registrarse()' shape="round" color='danger' fill="outline">
              Registrarme
            </ion-button>
          </ion-label>
      
        <ion-fab vertical="bottom" horizontal="start" >
            <ion-fab-button color="danger">
              <ion-icon name="arrow-dropup"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="top">
              <ion-fab-button color="success">
                <h3 (click)="Rellenar('socio1@socio.com','asdasd')">Ad</h3>
              </ion-fab-button>
              <ion-fab-button color="dark">
                <h3 (click)='Rellenar("supervisor1@supervisor.com","asdasd")'>S</h3>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>

          <ion-fab vertical="bottom" horizontal="end" >
              <ion-fab-button color="success">
                <ion-icon name="arrow-dropup"></ion-icon>
              </ion-fab-button>
              <ion-fab-list side="top">
                
                <ion-fab-button color="warning">
                  <h3 (click)="loginAnonimo()">An</h3>
                </ion-fab-button>
                <ion-fab-button color="primary">
                  <h3 (click)='Rellenar("cliente1@cliente.com","asdasd")'>C1</h3>
                </ion-fab-button>
                <ion-fab-button color="danger">
                    <h3 (click)='Rellenar("cliente2@cliente.com","asdasd")'>C2</h3>
                </ion-fab-button>
                
              </ion-fab-list>
            </ion-fab>

            <ion-fab vertical="bottom" horizontal="center" >
                <ion-fab-button>
                  <ion-icon name="arrow-dropup"></ion-icon>
                </ion-fab-button>
                <ion-fab-list side="top">
                  <ion-fab-button color="tertiary">
                    <h3 (click)='Rellenar("metre1@metre.com","asdasd")'>Me</h3>
                  </ion-fab-button>
                  <ion-fab-button color="medium">
                      <h3 (click)='Rellenar("mozo1@mozo.com","asdasd")'>Mo</h3>
                    </ion-fab-button>
                  <ion-fab-button color="secondary">
                    <h3 (click)='Rellenar("bar1@bar.com","asdasd")'>B</h3>
                  </ion-fab-button>
                  <ion-fab-button color="success">
                      <h3 (click)='Rellenar("cocina1@cocina.com","asdasd")'>Co</h3>
                    </ion-fab-button>
                  <ion-fab-button color="warning">
                    <h3 (click)='Rellenar("delivery1@delivery.com","asdasd")'>D</h3>
                  </ion-fab-button>
                  
                </ion-fab-list>
              </ion-fab>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
    </ion-card-content>


</ion-content>