<ion-content>
    <ion-card class="ion-activatable" (click)="this.HacerPedido()">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon name="add"></ion-icon>
      <h2>Hacer Pedido</h2>
    </ion-card>

    <ion-card class="ion-activatable" (click)="this.ConfirmarPedidos()">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon name="list"></ion-icon>
      <h2>Aceptar Pedidos</h2>
    </ion-card>
  
    <ion-card class="ion-activatable" (click)="this.TerminarPedidos()">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon name="restaurant"></ion-icon>
      <h2>Estado de pedidos</h2>
    </ion-card>
  
    <ion-card class="ion-activatable" (click)="this.ConfirmarPago()">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon name="cash"></ion-icon>
      <h2>Confirmar Pagos</h2>
    </ion-card>

    <ion-card class="ion-activatable" (click)="this.encuesta()">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon name="bookmarks"></ion-icon>
      <h2>Encuesta</h2>
    </ion-card> 
</ion-content>
