<ion-header>
  <ion-toolbar>
    <ion-title>alta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="save()">
    <ion-card>
      <ion-card-header>
        <ion-avatar class="avatar" (click)="takePhoto()">
          <img *ngIf="!image" src="assets/images/usuario.png">
          <img *ngIf="image" [src]="image">
        </ion-avatar>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-input formControlName="name" type="text" placeholder="nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input formControlName="lastName" type="text" placeholder="apellido"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input formControlName="dni" type="text" placeholder="dni"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input formControlName="cuil" type="text" placeholder="cuil"></ion-input>
        </ion-item>

        <ion-button class="font-style" color="success" fill="outline" shape="round" expand="full" type="submit"
          [disabled]="!myForm.valid">
          Registrar
        </ion-button>

      </ion-card-content>
    </ion-card>

  </form>
</ion-content>