<ion-header>
  <ion-toolbar>
    <ion-title>Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let c of clientes">
      <ion-col>
        <ion-card (click)="asignar(c)">
          <ion-card-content>
            <ion-avatar class="avatar">
              <img [src]="c.imagen">
            </ion-avatar>
            <div style="text-align: center;"><span>{{c.email}}</span></div>            
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>