// CONTENT

ion-card {
    text-align: center;
    --background: rgb(60, 97, 112);
    display: block;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

ion-card ion-icon {
    font-size: 100px;
    color: rgb(255, 255, 255);
}

.card-vertical {
    height: 30%;
    width: 100%;
    float: left;
}

.card-horizontal {
    height: 50%;
    width: 33.33%;
    float: left;
}

ion-ripple-effect {
    color: rgb(239, 92, 92);
}

.icon-vertical {
    margin-top: 13.5%;
}

.icon-horizontal {
    margin-top: 4%;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    /*line-height: 0px;*/
    padding-top: 0;
    margin-top: 0;
    color: rgb(253, 253, 253);
}