<ion-content paddin center text-center>
  <ion-item lines = "none" style="margin-top:5%">
    <img [src] = "domSanitezer.bypassSecurityTrustUrl(entidad.foto)" class="img-redonda">
  </ion-item>
  <ion-button (click) = "tomarFoto()" color = "primary"><ion-icon name="camera"></ion-icon></ion-button>
  <ion-item style="margin-top: 10%;" lines = "none" >
      <ion-input placeholder = "Nombre" [(ngModel)] = "entidad.nombre"></ion-input>
      <ion-input placeholder = "Apellido" [(ngModel)] = "entidad.apellido"></ion-input>
  </ion-item>
  <ion-item lines = "none">
      <ion-input type = "number" placeholder = "DNI" [(ngModel)] = "entidad.dni"></ion-input>
      <ion-button (click) = "cargarPorQR()" size = "full">QR</ion-button>
  </ion-item>
  <ion-item lines = "none">
    <ion-input type = "number" placeholder = "CUIT" [(ngModel)] = "entidad.cuit"></ion-input>
  </ion-item>
  <ion-item style="right: 15px;"  lines = "none">
     <ion-select interface="popover" placeholder="Perfil" [(ngModel)] = "entidad.perfil">
          <ion-select-option value="dueño">Dueño</ion-select-option>
          <ion-select-option value="supervisor">Supervisor</ion-select-option>
      </ion-select>
  </ion-item>
  <ion-item lines = "none" >
      <ion-input placeholder = "Correo electrónico" [(ngModel)] = "entidad.correo"></ion-input>
  </ion-item>
  <ion-item  lines = "none">
      <ion-input [type] = "tipo" placeholder = "Contraseña" [(ngModel)] = "entidad.clave"></ion-input>
      <ion-icon name={{icono}} color = "danger" (click) = "verClave()"></ion-icon>
  </ion-item>
  <ion-button (click) = "registrar()" shape="round"  expand="block" class="boton"  fill="outline">Registrar</ion-button>
</ion-content>