.img-redonda{
     height: 150px;
     width: 150px;
     /* los siguientes valores son independientes del tamaño del círculo */
     background-repeat: no-repeat;
     background-position: 50%;
     border-radius: 50%;
     background-size: 100% auto;
     margin:auto;
}
.boton{
    margin-top: 7%;
    // font-family:"cinzel decorative gordo" !important;
    // font-style:"normal" !important;
    font-size: 3.5vmax !important;
    color: rgba(255,0,0,1);
    --border-color: rgba(255,0,0,1);
    --background-activated:rgba(255,0,0,1, 0.856);
}