.derecha{
    width: 65%;
    position: relative;
    float: right;
    right: 5%;
    border-radius:25px;
    background-color: rgb(221, 221, 221);
}

.izquierda{
    width: 65%;
    position: relative;
    border-radius:25px;
    background-color: rgb(221, 221, 221);
    float: left;
}

.fecha{
    position: relative;
    text-align: center;
    color: black;
}

.nombre{
    text-align: start;
    font-size: 11px;
    color: black;
    text-align: center;    
}


.back{
    position: relative;
    width: 100%;
    height: 100%;
}