/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.bg{
    --background: rgba(255,0,0,1);
    --background: -moz-linear-gradient(top, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 61%, rgba(201,10,10,1) 99%, rgba(201,10,10,1) 100%);
    --background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,0,0,1)), color-stop(61%, rgba(255,0,0,1)), color-stop(99%, rgba(201,10,10,1)), color-stop(100%, rgba(201,10,10,1)));
    --background: -webkit-linear-gradient(top, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 61%, rgba(201,10,10,1) 99%, rgba(201,10,10,1) 100%);
    --background: -o-linear-gradient(top, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 61%, rgba(201,10,10,1) 99%, rgba(201,10,10,1) 100%);
    --background: -ms-linear-gradient(top, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 61%, rgba(201,10,10,1) 99%, rgba(201,10,10,1) 100%);
    --background: linear-gradient(to bottom, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 61%, rgba(201,10,10,1) 99%, rgba(201,10,10,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#c90a0a', GradientType=0 );
}

.footer{
    height: 5vmax;
    text-align: center;
    --background: rgb(143, 0, 0);
    --color:rgba(180, 180, 180, 0.788);
}

.item{
    --background: rgba(255, 0, 0, 0);
    --color: white;
    --font-size: 3.5rem;
}

.label{
    font-family:"cinzel decorative" !important;
    font-style:"normal" !important;
    font-size: 2vmax !important;
    color: rgb(243, 243, 243);
}

.titulo{
    margin: 20% 0% 10% 0%;
    font-family:"cinzel decorative gordo" !important;
    font-style:"normal" !important;
    font-size: 4.5vmax !important;
    color: rgb(243, 243, 243);
    text-align: center;
}


.boton{
    margin-top: 2%;
    // font-family:"cinzel decorative gordo" !important;
    // font-style:"normal" !important;
    font-size: 3.5vmax !important;
    color: rgb(243, 243, 243);
    --border-color: aliceblue;
    --background-activated:rgba(230, 230, 230, 0.856);
}

.centrar-col{
    margin: 0 auto;
}

.recuperar{
    margin: 0 !important;
    font-size: 2vmax;
    color:white;
}

.amarillo{
    filter:invert(1.5);
}

.bg-input{
    font-weight:800;
    --color:red;
    --background: #ebebeb;
    --border-radius:30px;
    margin-bottom: 5px;
}


@font-face{
    font-family:"cinzel decorative gordo";
    font-style:"normal";
    font-weight:700;
    src:url(./assets/fuentes/cinzeldecorative-bold.ttf) format('truetype')
}

@font-face{
    font-family:"cinzel decorative";
    font-style:"regular";
    font-weight:400;
    src:url(./assets/fuentes/cinzeldecorative-regular.ttf) format('truetype')
}
.md,
.ios,
.wp {
    .custom-alert-danger{
      > div {
        background: red; // if you don't use .md, .ios, .mp initially, you'd have to use !important here.
        color: #fff;
      }
    }
    .alert-header{
        color: #fff !important;
    }
    .alert-message{
        background: red;
        color: #fff;
        margin-bottom: 20px;
    }
    .alert-button{
        border-radius: 10px;
        color:rgb(255, 45, 45);
        background-color: rgb(255, 255, 255) !important;
    }
}