<ion-content>
  <ion-button *ngxPermissionsOnly="['DUEÑO', 'SUPERVISOR']" color="primary" fill="outline" expand="block"
    (click)="goTo('alta', 'S')" style="margin-top: 75px;">
    Alta Dueño/Supervisor
  </ion-button>

  <ion-button *ngxPermissionsOnly="['DUEÑO', 'SUPERVISOR']" color="primary" fill="outline" expand="block"
    (click)="goTo('alta', 'E')" style="margin-top: 25px;">
    Alta Empleado
  </ion-button>

  <ion-button *ngxPermissionsOnly="['COCINERO', 'BARTTENDER']" color="primary" fill="outline" expand="block"
    style="margin-top: 25px;" (click)="goTo('alta-productos')">
    Alta Productos
  </ion-button>

  <ion-button *ngxPermissionsOnly="['DUEÑO', 'SUPERVISOR']" color="primary" fill="outline" expand="block"
    style="margin-top: 25px;" (click)="goTo('alta-mesa')">
    Alta Mesas
  </ion-button>

  <ion-button *ngxPermissionsOnly="['DUEÑO', 'SUPERVISOR']" color="primary" fill="outline" expand="block"
    style="margin-top: 25px;" (click)="listaEspera()">
    Administrar lista espera registro
  </ion-button>

  <!-- botones solo disponible para clientes -->
  <ion-button *ngxPermissionsOnly="['CLIENTE']" color="primary" fill="outline" expand="block" (click)="irAListaEspera()"
    style="margin-top: 25px;">
    Lector de QR para Solicitar Mesa
  </ion-button>

  <ion-button *ngxPermissionsOnly="['CLIENTE']" color="primary" fill="outline" expand="block" (click)="encuestas()"
    style="margin-top: 25px;">
    Ver encuestas
  </ion-button>
</ion-content>