<ion-content>
  <ion-fab vertical="top" horizontal="end">
    <ion-fab-button>Usuarios</ion-fab-button>

    <ion-fab-list side="bottom">
      <ion-fab-button>Dueño</ion-fab-button>
      <ion-fab-button (click)="autocompletar('supervisor@gmail.com','123456')">Super</ion-fab-button>
      <ion-fab-button>Metre</ion-fab-button>
      <ion-fab-button (click)="autocompletar('cliente@gmail.com','123456')">Cliente</ion-fab-button>
      <ion-fab-button>Cheff</ion-fab-button>  
    </ion-fab-list>
  </ion-fab>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <img src="assets/icon/icon.png" class="img">
      </ion-card-title>
      <ion-card-title class="ion-text-center">
        <h2 class='text'>Iniciar Sesión</h2>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">
          <ion-text>
            <h4>
              Correo Electrónico
            </h4>
          </ion-text>
        </ion-label>
        <ion-input clear-input type='text' color="primary" [(ngModel)]='email'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          <ion-text>
            <h4>
              Contraseña
            </h4>
          </ion-text>
        </ion-label>
        <ion-input clearInput type='password' color="primary" [(ngModel)]='password'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-button expand="block" (click)='OnSubmitLogIn()' color='primary' fill="outline">
            Ingresar
          </ion-button>
        </ion-label>
      </ion-item>     
      <ion-item>
        <ion-label>
          <ion-button expand="block" (click)='GoToRegister()' color='primary' fill="outline">
            Registrarse
          </ion-button>
        </ion-label>
      </ion-item>  
    </ion-card-content>
  </ion-card>
</ion-content>