ion-content{
    align-content: center;

}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
}

ion-button {
    margin: 0;
    height: 40px;    
}