<ion-header>
  <ion-toolbar color='dark'>
    <ion-title text-center>Nuevos Clientes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-slides style="height: 100%" scrollbar='true' pager="true" [options]="slideOpts">
    <ion-slide style="height: 100%" *ngFor="let cliente of this.clientes">
      <ion-content>
        <ion-item>
          <ion-label>Nombre:</ion-label>
          <ion-input class='input_blanco' type="text" [(ngModel)]="cliente.nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>DNI:</ion-label>
          <ion-input class='input_blanco' type="text" [(ngModel)]="cliente.dni"></ion-input>
        </ion-item>
        <ion-item>
          <ion-img [src]="cliente.foto"></ion-img>
        </ion-item>


        <ion-footer>
          <ion-toolbar>
            <ion-button color='danger' class="mitad" (click)='this.BorrarCliente(cliente)'>Cancelar</ion-button>
            <ion-button color='success' class="mitad" (click)='this.AceptarCliente(cliente)'>Aceptar Cliente</ion-button>
          </ion-toolbar>
        </ion-footer>
      </ion-content>
    </ion-slide>
  </ion-slides>
</ion-content>