<ion-content>
  <ion-card class="ion-activatable" (click)="this.Mover('bar-cocina')" [ngClass]="{ 'card-vertical': !this.platform.isLandscape(), 'card-horizontal': this.platform.isLandscape() }">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="book" [ngClass]="{ 'icon-horizontal': this.platform.isLandscape(), 'icon-vertical': !this.platform.isLandscape() }"></ion-icon>
    <h2>Aceptar pedidos</h2>
  </ion-card>

  <ion-card class="ion-activatable" (click)="this.Mover('bar-cocina-aceptados')" [ngClass]="{ 'card-vertical': !this.platform.isLandscape(), 'card-horizontal': this.platform.isLandscape() }">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="restaurant" [ngClass]="{ 'icon-horizontal': this.platform.isLandscape(), 'icon-vertical': !this.platform.isLandscape() }"></ion-icon>
    <h2>Mis pedidos</h2>
  </ion-card>

  <ion-card class="ion-activatable" (click)="this.Mover('alta-producto')" [ngClass]="{ 'card-vertical': !this.platform.isLandscape(), 'card-horizontal': this.platform.isLandscape() }">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="add-circle"></ion-icon>
    <h2>Agregar producto</h2>
  </ion-card>

</ion-content>