<ion-content paddin center text-center>
  <ion-item lines = "none" style="margin-top:20%">
    <img [src] = "domSanitezer.bypassSecurityTrustUrl(mesa.foto)" class="img-redonda">
  </ion-item>
  <ion-button (click) = "tomarFoto()" color = "primary"><ion-icon name="camera"></ion-icon></ion-button>
  <ion-item style="margin-top: 10%;" lines = "none" >
      <ion-input type = "number" placeholder = "Numero de mesa" [(ngModel)] = "mesa.numero"></ion-input>
  </ion-item>
  <ion-item lines = "none">
      <ion-input type = "number" placeholder = "Numero de comensales" [(ngModel)] = "mesa.cantidad"></ion-input>
  </ion-item>
  <ion-item style="right: 15px;"  lines = "none">
     <ion-select interface="popover" placeholder="Tipo" [(ngModel)] = "mesa.tipo">
          <ion-select-option value="VIP">VIP</ion-select-option>
          <ion-select-option value="discapacitados">Para discapacitados</ion-select-option>
          <ion-select-option value="niños">Para niños</ion-select-option>
          <ion-select-option value="empresarios">Para gente de negocios</ion-select-option>
      </ion-select>
  </ion-item>
  <ion-button (click) = "cargarPorQR()" size = "expand">Completar los campos por QR</ion-button>
  <br><br>
  <ion-button (click) = "registrar()" shape="round"  expand="block" class="boton"  fill="outline">Registrar Mesa</ion-button>
</ion-content>
