ion-input,ion-select,ion-button{
    color :rgba(255,0,0,1);
}
ion-item{
    width: 95%;
    margin: auto;
    margin-bottom: 10px;
}
ion-icon{
  font-size: 170%;
}

ion-input{
    margin-bottom: 5%;
    font-size: 3vmax;
}

.img-redonda{
    height: 150px;
    width: 150px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    margin:auto;
}

ion-select{
    --color :rgba(255,0,0,1) !important;
}

ion-select-option{
    --color :rgb(255, 0, 0) !important;
}


.registrar-botton{
    height: 7vmax;
    font-size: 3vmax;
    width: 80%;
    margin: auto;
    color: rgb(255,0,0,1);
    --border-color: rgb(255,0,0,1);
    --background-activated:rgb(255,0,0,1, 0.856);
}


@media(max-width:300px)
{
    ion-input{
        margin-bottom:0px;
        --padding-top:0;
        --padding-bottom:0;
    }

    ion-item{
        height: 10vmax;
        margin-bottom:0px;
    }

    .img-redonda{
       position: relative;
    }
}