<ion-header>
    <ion-toolbar style="text-align: center;" color="danger">
        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
          </ion-buttons>
        <ion-title>Registro de Cliente</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content center text-center style="--background: rgb(253, 253, 253);">
    <ion-item lines="none">
      <img  src={{cliente.foto}} class="img-redonda">
    </ion-item> 
    <ion-button *ngIf="cliente.perfil == 'cliente'" (click)="tomarFoto()" color ="danger"><ion-icon name="camera"></ion-icon></ion-button>
     <ion-item lines = "none" style="color: red;">
      <label>Tipo de perfil:</label>
       <ion-select interface="popover" [(ngModel)] = "cliente.perfil" lines = "none">
            <ion-select-option value="cliente" lines = "none">Cliente</ion-select-option >
            <ion-select-option value="anonimo" lines = "none">Anonimo</ion-select-option>
        </ion-select>
    </ion-item>
    <div *ngIf="cliente.perfil == 'cliente'">
      <ion-item lines="none" >
        <ion-input placeholder = "Nombre" [(ngModel)] = "cliente.nombre"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input placeholder = "Apellido" [(ngModel)] = "cliente.apellido"></ion-input>
      </ion-item>
      <ion-item lines = "none">
        <ion-input type = "number" placeholder = "DNI" [(ngModel)] = "cliente.dni"></ion-input>
        <ion-button (click) = "cargarPorQR()" size="full" color="danger" shape="round">QR</ion-button>
      </ion-item>
    </div>

    <div *ngIf="cliente.perfil === 'anonimo'">
      <ion-item lines="none" >
      <ion-input placeholder = "Alias" [(ngModel)]="cliente.nombre"></ion-input>
      </ion-item>
    </div>
    <ion-item  lines = "none">
        <ion-input placeholder = "Correo electrónico" [(ngModel)] = "cliente.correo"></ion-input>
    </ion-item>
    <ion-item   lines = "none" >
        <ion-input type="password" placeholder = "Contraseña" [(ngModel)] = "cliente.clave"></ion-input>
        <!-- <ion-icon name={{icono}} color = "danger" (click) = "verClave()"></ion-icon> -->
    </ion-item>
    <ion-button style="margin-top: 5%;" (click) = "registrar()" shape="round"  expand="block" class="registrar-botton"  fill="outline">Registrar</ion-button>
  </ion-content>
